
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8fafc;
}

header {
    background: linear-gradient(135deg, #3b82f6, #1d4ed8);
    
}



.service-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff; /* Card background color */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for card */
}

.service-card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.btn {
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #25eb8f;
}


